<grid params="grid: grid, pager: pager"></grid>
<pager params="pager: pager"></pager>

<script type="text/html" id="ko_grid_display_column">
  <!-- ko text: $data --><!-- /ko -->
</script>

<script type="text/html" id="as_date">
  <!-- ko text: $parent.toDate($data, false) --><!-- /ko -->
</script>

<script type="text/html" id="as_date_time">
  <!-- ko text: $parent.toDate($data, true) --><!-- /ko -->
</script>

<script type="text/html" id="as_cpf">
  <!-- ko text: $data --><!-- /ko -->
</script>

<script type="text/html" id="as_processo">
  <!-- ko text: $data --><!-- /ko -->
</script>